@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #0a0a15;
  color: white;
  overflow: hidden;
  font-family: 'Malgun Gothic', 'Nanum Gothic', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}
